@import "../../../common/vars";
@import "../../../common/mixins";

.abstract-portfolio-page {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;


  &__content {
    position: relative;
  }

  &__blank {
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.31);
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100vh;
    transition: 0.5s ease-out;
  }

  &__blank_shown {
    top: 0;
  }

  &__next-work {
    background: #ffffff;
    padding: 64px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include for-phone-only {
      width: 288px;
      box-sizing: border-box;
      padding: 32px;
    }
  }

  &__next-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    @include for-phone-only {
      font-size: 32px;
    }
    //todo
    .portfolio-title__additional-text {
      @include for-phone-only {
        display: block;
        margin-top: 0;
        position: static;
        margin-bottom: 16px;
        font-size: 16px;
        color: #152228;
        font-weight: 400;
      }
    }
  }

  &__image {
    width: 300px;
    @include for-phone-only {
      width: 230px;
    }
  }

  &__image-img {
    width: 300px;
    margin: 48px auto 16px;
    @include for-phone-only {
      width: 230px;
    }
  }

  &__image-img_tea-shop {
    margin: 0 auto;
  }

  &__next-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    @include for-phone-only {
      width: 172px;
    }
  }

  &__right-arrow {
  }

  &__right-arrow-img {
    width: 15px;
    margin-top: 14px;
    @include for-phone-only {
      width: 10px;
    }
  }

  &__continue {
    color: #2B7A9E;
    @include for-phone-only {
      font-size: 24px;
    }
  }

}