@import "../../../../common/vars";
@import "../../../../common/mixins";

.steps-explanation-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 850px;
  @include for-tablet-portrait-up {
    max-width: 936px;
    margin: auto;
    height: 1000px;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 14px;
  }

  &__text {
    margin: 62px 16px 0;
    text-align: right;
    @include for-tablet-portrait-up {
      margin: 70px 0 0;
    }
  }

  &__schema {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include for-tablet-portrait-up {
      display: none;
    }
  }

  &__schema-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px 16px 0;
    width: 288px;
  }

  &__right-arrow {
    width: 73px;
    height: 73px;
    background: url('images/right-arrow.svg') no-repeat;
    background-size: contain;
    align-self: flex-end;
    margin-right: 54px;
    margin-bottom: -24px;
  }

  &__left-arrow {
    width: 73px;
    height: 73px;
    background: url('images/right-arrow.svg') no-repeat;
    background-size: contain;
    align-self: flex-end;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 48px;
    margin-bottom: -24px;
  }

  &__schema-block {
    width: 135px;
    display: flex;
    flex-direction: row;
    margin-right: -13px;
  }

  &__schema-block-title {
    margin-bottom: 8px;
  }

  &__schema-block-text {

  }

  &__schema-block-number {
    font-weight: 400;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #E91FFF;
    opacity: 0.4;
    margin-right: 8px;
  }

  &__schema-desktop {
    display: none;
    @include for-tablet-portrait-up {
      display: block;
    }
  }

  &__big-flower {
    width: 455px;
    height: 455px;
    background: url('images/big-flower.svg') no-repeat;
    background-size: contain;
    margin: auto;
    margin-bottom: 170px;
  }

  &__flower-top {
    position: absolute;
    margin-left: 226px;
    margin-top: -75px;
    display: flex;
  }

  &__flower-bottom {
    position: absolute;
    margin-left: 159px;
    margin-top: 469px;
  }

  &__flower-left {
    position: absolute;
    margin-left: -145px;
    margin-top: 205px;
  }

  &__flower-right {
    position: absolute;
    margin-left: 480px;
    margin-top: 203px;
  }

  &__flower-color {
    color: #CF8ECF;
  }

  &__flower-top-border {
    border: 1px solid #CF8ECF;
    border-bottom-width: 0;
    border-right-width: 0;
    width: 120px;
    height: 30px;
  }

  &__flower-bottom-border {
    border: 1px solid #CF8ECF;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 137px;
    height: 30px;
  }

  &__flower-left-border {
    border: 1px solid #CF8ECF;
    border-bottom-width: 0;
    border-right-width: 0;
    width: 120px;
    height: 30px;
  }

  &__flower-right-border {
    border: 1px solid #CF8ECF;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 102px;
    height: 30px;
  }

  &__flower-title {
    padding: 0 5px;
    font-size: 20px !important;
  }

  &__flower-top-text {
    max-width: 215px;
    margin-left: 32px;
    margin-top: 2px;
  }

  &__flower-bottom-text {
    max-width: 215px;
    margin-left: 0;
    margin-top: 16px;
  }

  &__flower-left-text {
    max-width: 215px;
    margin-left: -46px;
    margin-top: 16px;
  }

  &__flower-right-text {
    max-width: 215px;
    margin-left: -24px;
    margin-top: 14px;

  }
}