@import "../../../../common/vars";
@import "../../../../common/mixins";

.portfolio-colors {
  &__row {
    display: flex;
    flex-direction: row;
    &:first-child {
      margin-bottom: 20px;
    }
  }

  &__square {
    width: 60px;
    height: 42px;
    box-sizing: border-box;
    &:first-child {
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }

  &__label {
    font-size: 16px;
    font-family: $font-family;
    margin-bottom: 24px;
    font-weight: 300;
  }

  &__work {
    .portfolio-colors__1 {
      background: #684A72;
    }
    .portfolio-colors__2 {
      background: #FF7373;
    }
    .portfolio-colors__3 {
      background: #CC7B7B;
    }
    .portfolio-colors__4 {
      border: 1px solid rgba(51, 51, 51, 0.4);
    }
  }

  &__old-furnas {
    .portfolio-colors__1 {
      background: #333333;
    }
    .portfolio-colors__2 {
      background: #EB6073;
    }
    .portfolio-colors__3 {
      background: #6DCBFF;
    }
    .portfolio-colors__4 {
      border: 1px solid rgba(51, 51, 51, 0.4);
    }
  }

  &__furnas {
    .portfolio-colors__1 {
      border: 1px solid rgba(51, 51, 51, 0.4);
    }
    .portfolio-colors__2 {
      background: #E91FFF;
    }
    .portfolio-colors__3 {
      background: #3AC7FF;
    }
    .portfolio-colors__4 {
      background: #333333;
    }
  }

  &__finansist {
    .portfolio-colors__1 {
      background: #252B39;
    }
    .portfolio-colors__2 {
      background: #E5F4FF;
    }
    .portfolio-colors__3 {
      background: #FFC402;
    }
    .portfolio-colors__4 {
      background: #F5F5F7;
    }
  }

  &__code-fighter {
    .portfolio-colors__1 {
      border: 1px solid rgba(51, 51, 51, 0.1);
    }
    .portfolio-colors__2 {
      background: #343638;
    }
    .portfolio-colors__3 {
      background: #C54341;
    }
    .portfolio-colors__4 {
      background: #F5F5F5;
    }
  }

  &__tea {
    .portfolio-colors__1 {
      background: #52A3C9;
    }
    .portfolio-colors__2 {
      background: #C25681;
    }
    .portfolio-colors__3 {
      border: 1px solid rgba(51, 51, 51, 0.1);
    }
    .portfolio-colors__4 {
      background: #E7F2F6;
    }
  }
}