@import "../../../../common/vars";
@import "../../../../common/mixins";

.team-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 568px;
  @include for-tablet-portrait-up {
    max-width: 936px;
    margin: auto;
    flex-direction: row;
    height: 800px;
    align-items: center;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
    @include for-tablet-portrait-up {
      margin-bottom: 24px;
    }
  }

  &__image {
    flex-grow: 1;
    margin: 16px 32px;
    @include for-phone-only {
    }
    @include for-phone-only-retina {
    }
    @include for-tablet-portrait-up {
      max-height: 400px;
      margin: 0;
    }
    @include for-desktop-up-retina {
    }
  }

  &__image-img {
    @include for-tablet-portrait-up {
      max-height: 400px;
      object-position: right;
    }
  }

  &__text {
    margin: 62px 16px 0;

    @include for-tablet-portrait-up {
      margin: 0;
    }
  }
}