@import "../../../../common/vars";
@import "../../../../common/mixins";

.dislike-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-tablet-portrait-up {
    max-width: 944px;
    margin: auto;
    flex-direction: row;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 32px;
    @include for-tablet-portrait-up {
      margin-bottom: 32px;
      margin-top: 254px;
    }
  }

  &__image {
    margin: 16px 32px;
    @include for-phone-only {
      display: none;
    }
    @include for-tablet-portrait-up {
      margin: 165px 0;
    }
  }

  &__image-img {
    @include for-tablet-portrait-up {
      width: 292px;
    }
  }

  &__text {
    margin: 88px 16px;
    @include for-phone-only{
      display: flex;
      flex-direction: column;
    }
    @include for-tablet-portrait-up {
      margin: 0;
    }
  }

  &__block-text {
    max-width: 470px;
  }


  &__image-mob {
    margin: 0 32px 32px;
    align-self: center;
    @include for-tablet-portrait-up {
      display: none;
    }
  }

  &__image-mob-img {
    width: 175px;
  }
}