@import "../../../../common/vars";
@import "../../../../common/mixins";

.do-screen {
  width: 944px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @include for-phone-only {
    flex-direction: column;
    width: auto;
    margin: auto 16px 48px;
  }

  &__title {
    margin-top: 80px;
    margin-bottom: 24px;
    @include for-tablet-portrait-up {
      margin-bottom: 24px;
      margin-top: 160px;
    }
  }

  &__subtitle {
    width: 464px;
    @include for-phone-only {
      width: auto;
    }
  }

  &__accordion {
    margin-top: 32px;
    width: 100%;
    @include for-phone-only {
      margin-top: 48px;
    }
  }

  &__image {
    margin: 16px 32px;
    @include for-phone-only {
      display: none;
    }
    @include for-tablet-portrait-up {
      max-height: 400px;
      margin: 346px 0 255px;
    }
  }

  &__image-img {
    @include for-tablet-portrait-up {
      width: 332px;
      height: 340px;
      object-position: right;
    }
  }

  &__text {
    width: 464px;
  }

}