@import "../../../common/vars";
@import "../../../common/mixins";

.livenhouse-portfolio {
  width: 100%;

  &__title-container {
    @include for-phone-only{
      margin-top: 70px !important;
    }
  }

  &__main-title {
    padding-bottom: 34px;
  }

  &__paragraph {
    margin-bottom: 16px;
  }
  
  &__main-image-block {
    margin: auto;
   
    padding-bottom: 264px;
    @include for-phone-only {
      margin: 0;
      padding-bottom: 64px;
    }
  }

  &__main-container{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto
  }
   
  &__main-screen{
    width: 100%;
  }
  &__background-image-img{
    width: 100%;
  }

  &__main-image-img {
    @include for-phone-only {
      width: 320px;
    }
  }
  
  &__task-text-block {
    width: 50%;
    
    margin-top: 260px;
    @include for-phone-only {
      width: auto;
      margin: 64px auto;
    }
    color: white;
  }

  &__task-image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    
    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }
  
  &__task-image-img {
    width: 230px;
    padding: 136px 0;
    @include for-phone-only {
      padding: 0;
    }
  }

  &__task-screen {
    width: 100%;
    background: linear-gradient(166.82deg, #1F2023 22.37%, #352B4A 83.95%, #4E4762 106.4%);
  }

  &__task-container {
    flex-direction: row !important;
    
    @include for-phone-only{
      flex-direction: column !important;
      margin-top: 70px !important;
    }
  }

  &__idea-block {
    width: 50%;
    margin-top: 260px;
    @include for-phone-only {
      width: auto;
      margin: 0 auto 64px;
    }
    color: #333333;
  }

  &__idea-image-block {
    width: 50%;
    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }

  &__idea-image-img {
    width: 300px;
    padding: 136px 0;
    @include for-phone-only {
      width: 180px;
      padding: 0;
    }
  }

  &__design-text-block {
    width: 70%;
    margin: 323px 0px;
    @include for-phone-only {
      width: auto;
      margin: 64px auto 0 auto;
    }
    color: #333333;
  }

  &__colors-block {
    width: 30%;
    padding-left: 80px;
    margin: 323px 0px;
    @include for-phone-only {
      width: auto;
      padding: 0;
      margin: 64px auto;
    }
    color: #333333;
  }

  &__photo-container {
    flex-direction: column;
    @include for-phone-only {
      margin: 0;
    }
  }

  &__photo-picture {
    width: 100%;
  }

  &__photo-image-img{
    width: 100%;
    @include for-phone-only {
      width: 100%;
    }
  }

  &__photo-text-block {
    position: absolute;
    align-self: flex-end;
    width: 320px;
    margin: 120px 0px;
    padding: 40px 20px 40px 60px;
    color: white;
    background: #4D0FF7;
    border-radius: 20px 0px 0px 20px;
    @include for-phone-only {
      position: relative;
      width: auto;
      padding: 64px 24px;
      margin:0;
      align-self: auto;
      border-radius:0;
    }
  }

  &__faсts-container {
    flex-direction: column;
    align-items: center;
  }

  &__faсts-text-block{
    width: 420px;
    padding: 140px 60px 40px 60px;    
    @include for-phone-only {
      width: auto;
      padding: 64px 0;   
    }
  }

  &__faсts-image-block{
    width: 700px;
    @include for-phone-only {
      width: auto;
    }
  }
    
  &__faсts-image-img{
    width: 700px;
    @include for-phone-only {
      width: 320px;
    }
  }
  
  &__simplification-text-block {
    width: 50%;
   
    margin-top: 320px;
    @include for-phone-only {
      width: auto;
      margin: 64px auto 64px;
    }
  }

  &__simplification-image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 160px;

    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }
  &__adaptation-container{
    @include for-phone-only {
      flex-direction: column;
    }
  }
  
  &__adaptation-text-block {
    width: 50%;
   
    margin-top: 320px;
    @include for-phone-only {
      width: 100%;
      margin: 0 auto 64px;
    }
  }

  &__adaptation-image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 160px;

    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }

  &__adaptation-image-img{
    width: 230px;
  }

  &__kettle-container{
    align-content: center;
    justify-content: center;
    @include for-phone-only {
      display: none;
    }
  }

  &__kettle-image-img{
    width: 700px;
    margin-top: 240px;
    @include for-phone-only {
      width: 320px;
    }
  }

  &__interactive-text-block-mobile{
    display: none;
    @include for-phone-only {
      display: flex;
      position: absolute;
      align-self: flex-start;
      color: #4D0FF7;
      background: #FFFFFF;
      border-radius: 0px 0px 10px 0px;
      padding: 16px;
    }
  }

  &__interactive-text-block-mobile-subtitle{
    padding: 0;
  }

  &__interactive-container {
    flex-direction: column;
    margin-top: 320px;
    @include for-phone-only {
      margin: 0;
    }
  }

  &__interactive-picture {
    width: 100%;
  }

  &__interactive-image-img{
    width: 100%;
    padding: 0px;
  }

  &__interactive-text-block {
    width: 320px;
    position: absolute;
    margin: 120px 0px;
    padding: 40px 60px;
    background: #231F20;
    color: white;
    border-radius: 0px 20px 20px 0px;
    @include for-phone-only {
      display: none;
    }
  }

  &__breeze-container{
    align-content: center;
    justify-content: center;
  }

  &__breeze-image-img{
    width: 700px;
    margin-top: 240px;
    @include for-phone-only {
      width: 320px;
      margin-top: 64px;
    }
  }
}