@import "../../../common/vars";
@import "../../../common/mixins";

.livenhouse-portfolio {
  width: 100%;

  &__title-container {
    @include for-phone-only{
      margin-top: 70px !important;
    }
  }

  &__paragraph {
    margin-bottom: 16px;
  }
  
  &__main-image-block {
    margin: auto;
    padding-bottom: 264px;
  }

  &__task-text-block {
    width: 50%;
    
    margin-top: 260px;
    @include for-phone-only {
      width: auto;
      margin: 0 auto 64px;
    }
    color: white;
  }

  &__task-image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    
    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }
  
  &__task-image-img {
    width: 230px;
    padding: 136px 0;
    @include for-phone-only {
      width: 180px;
      padding: 0;
    }
  }

  &__task-screen {
    width: 100%;
    background: linear-gradient(166.82deg, #1F2023 22.37%, #352B4A 83.95%, #4E4762 106.4%);
  }

  &__task-container {
    flex-direction: row !important;
    
    @include for-phone-only{
      margin-top: 70px !important;
    }
  }

  &__idea-block {
    width: 50%;
    margin-top: 260px;
    @include for-phone-only {
      width: auto;
      margin: 0 auto 64px;
    }
    color: #333333;
  }

  &__idea-image-block {
    width: 50%;
    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }

  &__idea-image-img {
    width: 300px;
    padding: 136px 0;
    @include for-phone-only {
      width: 180px;
      padding: 0;
    }
  }

  &__design-text-block {
    width: 70%;
    margin: 323px 0px;
    @include for-phone-only {
      width: auto;
      margin: 64px auto;
    }
    color: #333333;
  }

  &__colors-block {
    width: 30%;
    padding-left: 80px;
    margin: 323px 0px;
    @include for-phone-only {
      width: auto;
      margin: 64px auto;
    }
    color: #333333;
  }

  &__photo-container {
    flex-direction: column;
  }

  &__photo-picture {
    width: 100%;
  }

  &__photo-text-block {
    width: 320px;
    align-self: flex-end;
    position: absolute;
    margin: 120px 0px;
    padding: 40px 20px 40px 60px;
    color: white;
    background: #4D0FF7;
    border-radius: 20px 0px 0px 20px;
  }


  &__faсts-container {
    flex-direction: column;
    align-items: center;
  }

  &__faсts-text-block{
    width: 420px;
    padding: 140px 60px 40px 60px;    
  }

  &__faсts-image-block{
    width: 700px;
  }
    

  &__faсts-image-img{
    width: 700px;
  }

  &__simplification-text-block {
    width: 50%;
   
    margin-top: 320px;
    @include for-phone-only {
      width: auto;
      margin: 0 auto 64px;
    }
  }

  &__simplification-image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 160px;

    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }

  &__adaptation-text-block {
    width: 50%;
   
    margin-top: 320px;
    @include for-phone-only {
      width: auto;
      margin: 0 auto 64px;
    }
  }

  &__adaptation-image-block {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 160px;

    @include for-phone-only {
      width: auto;
      order: 2;
      margin: 0 auto 64px auto;
    }
  }

  &__adaptation-image-img{
    width: 230px;
  }

  &__kettle-container{
    align-content: center;
    justify-content: center;
  }

  &__kettle-image-img{
    width: 700px;
    margin-top: 240px;
  }

  &__interactive-container {
    flex-direction: column;
    margin-top: 320px;
  }

  &__interactive-picture {
    width: 100%;
  }

  &__interactive-image-img{
    width: 100%;
    padding: 0px;
  }

  &__interactive-text-block {
    width: 320px;
    position: absolute;
    margin: 120px 0px;
    padding: 40px 60px;
    background: #231F20;
    color: white;
    border-radius: 0px 20px 20px 0px
  }

  &__breeze-container{
    align-content: center;
    justify-content: center;
  }

  &__breeze-image-img{
    width: 700px;
    margin-top: 240px;
  }
}