.home {
  height: 100%;
  width: 100%;
  background: #2E2E31 url('images/background.png') 100% 0 no-repeat;

  &__container {
    max-width: 960px;
    padding-top: 106px;
    padding-left: 88px;
    padding-bottom: 52px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 54px;
  }

  &__process-section-title {
    margin-bottom: 32px;
  }

  &__process {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  &__process-block {
    padding-right: 24px;
  }

  &__process-block-text-with-margin {
    margin-bottom: 8px;
  }

  &__process-block-title {
    margin-bottom: 16px;
  }

  &__process-block-subtitle {
    margin-bottom: 8px;
    margin-top: 16px;
  }

  &__order-section-title {
    margin-bottom: 24px;
  }

  &__order-input-label {
    margin-bottom: 16px;
  }

  &__order-row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__order-button {
    width: 188px;
  }

  &__order-input {
    width: 518px;
    margin-right: 40px;
  }

  &__expamle-link {
    margin-top: 16px;
  }
}
