@import "../../common/vars";
@import "../../common/mixins";

.home {
  height: 100%;
  width: 100%;
  background: #2E2E31 url('images/background.png') 100% 0 no-repeat;

  &__container {
    max-width: 960px;
    padding-top: 106px;
    padding-left: 88px;
    padding-bottom: 52px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 54px;
  }

  &__process-section-title {
    margin-bottom: 32px;
  }

  &__process {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 74px;
  }

  &__process-block {
    padding-right: 24px;
  }

  &__process-block-text-with-margin {
    margin-bottom: 8px;
  }

  &__process-block-title {
    margin-bottom: 16px;
  }

  &__process-block-subtitle {
    margin-bottom: 8px;
    margin-top: 16px;
  }

  &__expamle-link {
    margin-top: 16px;
  }

  &__contact-us-button {
    margin-bottom: 64px;
  }

  &__blog-section-title {
    margin-bottom: 24px;
  }

  &__article-link {
    margin-bottom: 16px;
  }

  &__more-articles-row {
    color: $font-color-white;
    font-size: $font-block-text-size;
    font-family: $font-family;
    margin-bottom: 56px;
  }

  &__contact-us-section-title {
    margin-bottom: 24px;
  }

  &__phone-contact {
    margin-bottom: 16px;
  }

  &__email-contact {
    margin-bottom: 24px;
  }

  &__contact-input-label {
    margin-bottom: 5px;
  }

  &__contact-us-row {
    display: flex;
    flex-direction: row;
  }

  &__contact-us-input {
    width: 518px;
    margin-right: 24px;
  }

  &__send-contact {
    width: 156px;
  }
}
