@import "../../common/vars";
@import "../../common/mixins";

.home {
  height: 100%;
  width: 100%;
  background: #2E2E31 url('images/background.png') calc(100% + 250px) -350px no-repeat;
  @include for-tablet-portrait-up {
    background: #2E2E31 url('images/background.png') calc(100% + 150px) -250px no-repeat;
  }
  @include for-tablet-landscape-up {
    background: #2E2E31 url('images/background.png') calc(100% + 150px) -250px no-repeat;
  }
  @include for-desktop-up {
    background: #2E2E31 url('images/background.png') 100% 0 no-repeat;
  }

  &__container {
    max-width: 500px;
    margin: 48px 48px;
    @include for-phone-only {
      max-width: none;
      margin: 48px 24px;
    }

    @include for-tablet-landscape-up {
      margin: 80px 48px;
      max-width: 960px;
    }

    @include for-desktop-up {
      margin: 0;
      padding-top: 106px;
      padding-left: 88px;
      padding-bottom: 52px;
      max-width: 960px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 36px;
    @include for-tablet-landscape-up {
      margin-bottom: 54px;
    }
  }

  &__process-section-title {
    margin-bottom: 32px;
  }

  &__process {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
    @include for-tablet-landscape-up {
      flex-direction: row;
      margin-bottom: 74px;
    }
  }

  &__process-block {
    padding-right: 24px;
    margin-bottom: 36px;
    @include for-tablet-landscape-up {
      margin-bottom: 0;
    }
  }

  &__process-block-text-with-margin {
    margin-bottom: 8px;
  }

  &__process-block-title {
    margin-bottom: 16px;
  }

  &__process-block-subtitle {
    margin-bottom: 8px;
    margin-top: 16px;
  }

  &__expamle-link {
    margin-top: 16px;
  }

  &__contact-us-button {
    margin-bottom: 64px;
    display: none;
    @include for-tablet-landscape-up {
      display: block;
    }
  }

  &__blog-section-title {
    margin-bottom: 24px;
  }

  &__article-link {
    margin-bottom: 16px;
  }

  &__more-articles-row {
    color: $font-color-white;
    font-size: $font-block-text-size;
    font-family: $font-family;
    margin-bottom: 56px;
  }

  &__contact-us-section-title {
    margin-bottom: 24px;
  }

  &__phone-contact {
    margin-bottom: 16px;
  }

  &__email-contact {
    margin-bottom: 24px;
  }

  &__contact-input-label {
    margin-bottom: 5px;
  }

  &__contact-us-row {
    display: flex;
    flex-direction: column;
    @include for-tablet-landscape-up {
      flex-direction: row;
    }
  }

  &__contact-us-input {
    margin-right: 24px;
    width: calc(100% - 36px);
    margin-bottom: 24px;
    @include for-tablet-landscape-up {
      width: 518px;
      margin-bottom: 0;
    }
  }

  &__send-contact {
    width: 156px;
  }

  &__mobile-explain-text {
    color: $font-color-white;
    font-size: 16px;
    font-family: $font-family;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 1px;
    margin-bottom: 36px;

    @include for-tablet-landscape-up {
      display: none;
    }
  }

  &__contact-us-mobile-button {
    margin-bottom: 48px;
    @include for-tablet-landscape-up {
      display: none;
    }
  }
}
