@import "../../../../common/vars";
@import "../../../../common/mixins";

.money-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 700px;
  min-height: 568px;
  @include for-tablet-portrait-up {
    max-width: 936px;
    margin: auto;
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 16px;
  }

  &__image {
    background: url('images/franklin.png') no-repeat;
    flex-grow: 1;
    background-position: center;
    background-size: contain;
    margin: 16px 32px;
    @include for-tablet-portrait-up {
      max-height: 400px;
    }
  }

  &__text {
    margin: 62px 16px 0;
    text-align: right;
    @include for-tablet-portrait-up {
      margin: 70px 0 0;
    }
  }
}