@import "../../../../../../common/vars";
@import "../../../../../../common/mixins";

.specialist-card {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 944px;

  @include for-phone-only {
    width: auto;
    flex-direction: column-reverse;
  }

  @include for-tablet-portrait-up {
    width: 624px;
  }

  @include for-tablet-landscape-up {
    width: 944px;
  }

  &__image {
    width: 460px;
    height: 590px;
    @include for-phone-only {
      width: 100%;
      height: auto;
    }
  }

  &__image-img {
    width: 460px;
    height: 590px;
    @include for-phone-only {
      width: 100%;
      height: auto;
    }
    @include for-tablet-portrait-up {
      width: 315px;
      height: 400px;
    }
    @include for-tablet-landscape-up {
      width: 460px;
      height: 590px;
    }
  }

  &__previou-works-icon {
    background: url('./images/work.svg') no-repeat;
    width: 20px;
    height: 18px;
    background-size: contain;
    margin-top: 5px;
    margin-right: 17px;
  }

  &__previous-works {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    @include for-phone-only {
      margin-bottom: 8px;
    }
  }

  &__experience-icon {
    background: url('./images/experience.svg') no-repeat;
    width: 20px;
    height: 18px;
    background-size: contain;
    margin-top: 5px;
    margin-right: 17px;
  }

  &__location-icon {
    background: url('./images/location.svg') no-repeat;
    width: 20px;
    height: 18px;
    background-size: contain;
    margin-top: 5px;
    margin-right: 17px;
  }

  &__name {
    font-family: $font-family-title;
    margin-bottom: 16px;
    margin-top: 96px;
    @include for-phone-only {
      align-self: center;
      margin-top: 8px;
      margin-bottom: 4px;
    }

    @include for-tablet-portrait-up {
      margin-top: 0;
    }

    @include for-tablet-landscape-up {
      margin-top: 96px;
    }
  }

  &__profession {
    font-family: $font-family;
    font-size: 17px;
    color: #333333;
    margin-bottom: 28px;
    font-weight: 600;
    @include for-phone-only {
      align-self: center;
      margin-bottom: 8px;
    }
  }

  &__previous-works-text {
    font-family: $font-family;
    font-size: 17px;
    color: #333333;
    line-height: 30px;
    font-weight: 300;
  }

  &__experience-years {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    @include for-phone-only {
      margin-bottom: 8px;
    }
  }

  &__location {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    @include for-phone-only {
      margin-bottom: 8px;
    }
  }

  &__info {
    align-self: flex-start;
    margin-left: 80px;
    @include for-phone-only {
      margin: auto 16px;
      display: flex;
      flex-direction: column;
    }

    @include for-tablet-portrait-up {
      margin-left: 0;
    }

    @include for-tablet-landscape-up {
      margin-left: 80px;
    }
  }

  &__story {
    font-style: italic;
    padding-right: 16px;
  }
}