@import "../../common/vars";
@import "../../common/mixins";

.test {

  &__header {
    background: url('images/background.png') no-repeat;
    background-size: contain;
    height: 42vw;
    margin-bottom: 9vw;
  }

  &__step {

  }

  &__step-title {
    color: #ffffff;
    font-family: $font-family;
    font-size: 6.5vw;
    padding: 19vw 5vw;
    letter-spacing: 2px;
    font-weight: 300;
  }

  &__step-body {
  }

  &__header-links-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    right: 2vw;
  }

  &__header-link {
    color: #ffffff;
    font-family: $font-family;
    display: block;
    font-size: 3.5vw;
    margin: 3vw;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer;
  }

  &__text-block {
    color: #6A7A98;
    font-family: $font-family;
    font-size: 4.5vw;
    font-weight: 300;
    margin: 0 5vw 3vw 5vw;
    letter-spacing: 1px;
    line-height: 6.5vw;
  }

  &__button {
    border: none;
    padding: 3vw 9vw;
    color: $font-color-white;
    font-family: $font-family;
    font-size: 5vw;
    cursor: pointer;
    background-color: #E50085;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 100vw;
    letter-spacing: 1px;
  }

  &__button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
  }
}