@import "../../common/vars";
@import "../../common/mixins";

.radio {
  display: flex;
  flex-direction: row;

  &__item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-right: 24px;
    @include for-phone-only {
      margin-bottom: 16px;
    }
  }

  &__circle {
    width: 15px;
    height: 15px;
    border: 1px solid #2B7A9E;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    border-radius: 50px;
  }


  &__name {
    font-family: $font-family;
    font-size: 17px;
    color: #131416;
  }

  &__point {

  }

  &__item_selected {
    .radio__circle {
    }

    .radio__name {
      color: #2B7A9E;
    }

    .radio__point {
      width: 11px;
      height: 11px;
      background: #2B7A9E;
      border-radius: 50px;
    }
  }
}