@import "../../common/vars";
@import "../../common/mixins";

.block-title {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 500;

  &_theme-dark {
    color: #333333;
  }
  &_theme-light {
    color: $font-color-black;
  }
}