@import "../../common/vars";
@import "../../common/mixins";

.title {
  font-family: $font-family-title;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 46px;
  color: #000000;
  line-height: 64px;
  @include for-phone-only {
    font-size: $font-title-mobile-size;
  }
}