@import "../../../../common/vars";
@import "../../../../common/mixins";

.contact-screen {
  display: flex;
  flex-direction: column;
  height: 558px;
  @include for-tablet-portrait-up {
    height: 650px;
  }

  &_sent {
    @include for-tablet-portrait-up {
      height: 750px;
    }
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 32px;
  }

  &__form {
    margin: 102px 16px 0;
    text-align: center;

    @include for-tablet-portrait-up {
      margin-top: 200px;
    }
  }

  &__links {
    margin: 40px 16px 0;
    text-align: center;
    @include for-tablet-portrait-up {
      display: none;
    }
  }

  &__input {
    margin-top: 32px;
    @include for-tablet-portrait-up {
      flex-grow: 1;
      margin-right: 24px;
      margin-top: 16px;
      width: 376px !important;
    }
  }

  &__button {
    margin-top: 24px;
    @include for-tablet-portrait-up {
      margin-top: 16px;
    }
  }

  &__button-back {
    margin-top: 32px;
  }

  &__link {
    margin-bottom: 16px;
  }

  &__image {
    background: url('images/plane.png') no-repeat;
    background-position: center;
    background-size: contain;
    width: 250px;
    height: 82px;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 56px;
  }

  &__text {
    @include for-tablet-portrait-up {
      display: inline;
    }
  }

  &__text + &__text {
    @include for-tablet-portrait-up {
      margin-left: 6px;
    }
  }

  &__input-arrow {
    position: absolute;
    margin-left: -90px;
    margin-top: -3px;
    @include for-phone-only {
      display: none;
    }
  }

  &__input-arrow-img {
    width: 64px;
    height: 64px;
  }
}