@import "../../../../common/vars";
@import "../../../../common/mixins";

.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: 0.5s ease-out;
  align-items: center;
  background: #E0EFF5;
  @include for-tablet-portrait-up {
    height: auto;
  }

  &_animation-finished {
    height: 600px;
    @include for-tablet-portrait-up {
      height: auto;
    }

    #animation_container {
      display: none;
    }

    .main-screen__form {
      display: flex;
      @include for-tablet-portrait-up {
        display: none
      }
    }
  }

  &__title {
    margin-bottom: 19px;
    max-width: 300px;
    font-size: 32px !important;
    line-height: 50px;
    font-weight: bold !important;
    @include for-tablet-portrait-up {
      max-width: 336px;
      text-transform: none !important;
      font-size: 42px !important;
      text-align: left;
      line-height: 52px !important;
      margin-bottom: 24px;
    }
  }

  &__desktop-title_cursor {
    cursor: url("./images/thanos.png"), auto;
  }

  &__form {
    margin: 89px 16px 0;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    @include for-tablet-portrait-up {
      display: none
    }
  }

  &__links {
    margin: 40px 16px 0;
    text-align: center;
  }

  &__input {
    margin-top: 32px;
    @include for-tablet-portrait-up {
      margin-top: 16px;
      width: 100%;
      margin-right: 24px;
    }
  }

  &__button {
    margin-top: 24px;
    @include for-tablet-portrait-up {
      margin-top: 40px;
      width: 224px;
    }
  }

  &__link {
    margin-bottom: 16px;
  }

  &__pink-word {
    padding: 0 2px;
    background: #F8BBFF;
  }

  &__blue-word {
    padding: 0 2px;
    background: #B7EAFF;
    white-space: nowrap;
  }

  &__form-desktop {
    display: none;
    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 11.55vh;
      padding: 0 32px;
      align-items: center;
    }
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 29.55vh;
      width: 944px;
      padding: 0 16px;
      align-items: normal;
    }
  }

  &__desktop-contact-row {
    display: none;
    @include for-tablet-landscape-up {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 376px;
    }
  }

  &__background-img {
    width: 474px !important;
    margin-top: 48px;
    margin-bottom: 21.5vh;
    margin-right: -23px;
    @include for-tablet-landscape-up {
      margin-top: -63px;
      width: 538px !important;
    }
  }

  &__monitor-img {
    width: 214px !important;
    height: 156px;
  }

  &__girl-img {
    @include for-tablet-portrait-up {
      width: 71px !important;
      position: absolute;
      margin-top: 160px;
      margin-left: -317px;
    }
    @include for-tablet-landscape-up {
      width: 71px !important;
      position: absolute;
      margin-top: 63px;
      margin-left: -355px;
    }
  }

  &__girl-img_movement {
    animation: girl-movement 10s infinite;
    -webkit-animation: girl-movement 10s infinite;
    -moz-animation: girl-movement 10s infinite;
    -o-animation: girl-movement 10s infinite;
  }

  &__boy-img {
    @include for-tablet-portrait-up {
      width: 71px !important;
      position: absolute;
      margin-top: 150px;
      margin-left: -173px;
    }
    @include for-tablet-landscape-up {
      width: 71px !important;
      position: absolute;
      margin-top: 57px;
      margin-left: -201px;
    }
  }

  &__boy-img_movement {
    animation: boy-movement 12s infinite;
    -webkit-animation: boy-movement 12s infinite;
    -moz-animation: boy-movement 12s infinite;
    -o-animation: boy-movement 12s infinite;
    animation-delay: 1s;
  }

  &__background-img_movement {
    animation: background-movement 15s infinite;
    -webkit-animation: background-movement 15s infinite;
    -moz-animation: background-movement 15s infinite;
    -o-animation: background-movement 15s infinite;
    animation-delay: 1s;
  }

  &__additional-text {
    width: 350px;
  }

  &__additional-text-mob {
    width: auto;
    margin-top: 24px;
  }

  &__button-tablet {
    display: none;
    @include for-tablet-portrait-up {
      display: block;
      position: absolute;
      bottom: 146px;
    }
    @include for-tablet-landscape-up {
      display: none;
    }
  }
}

#animation_container {
  background-color: rgba(255, 255, 255, 1.00);
  width: 320px;
  height: 560px;
  @include for-tablet-portrait-up {
    display: none
  }
}

#canvas {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 1.00);
}

#dom_overlay_container {
  pointer-events: none;
  overflow: hidden;
  width: 320px;
  height: 560px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
}

@-webkit-keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    -webkit-transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-25px);
  }
  70% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    -moz-transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(-25px);
  }
  70% {
    -moz-transform: translateY(-15px);
  }
}

@-o-keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    -o-transform: translateY(0);
  }
  30% {
    -o-transform: translateY(-25px);
  }
  70% {
    -o-transform: translateY(-15px);
  }
}

@keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-25px);
  }
  70% {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    -webkit-transform: translate(0);
  }
  30% {
    -webkit-transform: translate(20px, -13px);
  }
  70% {
    -webkit-transform: translate(-20px, 10px);
  }
}

@-moz-keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    -moz-transform: translate(0);
  }
  30% {
    -moz-transform: translate(20px, -13px);
  }
  70% {
    -moz-transform: translate(-20px, 10px);
  }
}

@-o-keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    -o-transform: translate(0);
  }
  30% {
    -o-transform: translate(20px, -13px);
  }
  70% {
    -o-transform: translate(-20px, 10px);
  }
}

@keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    transform: translate(0);
  }
  30% {
    transform: translate(20px, -13px);
  }
  70% {
    transform: translate(-20px, 10px);
  }
}

@-webkit-keyframes background-movement {
  0% {
    filter: hue-rotate(0deg);
  }
  8.3% {
    filter: hue-rotate(30deg);
  }
  16.6% {
    filter: hue-rotate(60deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  33.3% {
    filter: hue-rotate(120deg);
  }
  41.6% {
    filter: hue-rotate(150deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  58.3% {
    filter: hue-rotate(210deg);
  }
  66.6% {
    filter: hue-rotate(240deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  83.3% {
    filter: hue-rotate(300deg);
  }
  91.6% {
    filter: hue-rotate(330deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@-moz-keyframes background-movement {
  0% {
    filter: hue-rotate(0deg);
  }
  8.3% {
    filter: hue-rotate(30deg);
  }
  16.6% {
    filter: hue-rotate(60deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  33.3% {
    filter: hue-rotate(120deg);
  }
  41.6% {
    filter: hue-rotate(150deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  58.3% {
    filter: hue-rotate(210deg);
  }
  66.6% {
    filter: hue-rotate(240deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  83.3% {
    filter: hue-rotate(300deg);
  }
  91.6% {
    filter: hue-rotate(330deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@-o-keyframes background-movement {
  0% {
    filter: hue-rotate(0deg);
  }
  8.3% {
    filter: hue-rotate(30deg);
  }
  16.6% {
    filter: hue-rotate(60deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  33.3% {
    filter: hue-rotate(120deg);
  }
  41.6% {
    filter: hue-rotate(150deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  58.3% {
    filter: hue-rotate(210deg);
  }
  66.6% {
    filter: hue-rotate(240deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  83.3% {
    filter: hue-rotate(300deg);
  }
  91.6% {
    filter: hue-rotate(330deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes background-movement {
  0% {
    filter: hue-rotate(0deg);
  }
  8.3% {
    filter: hue-rotate(30deg);
  }
  16.6% {
    filter: hue-rotate(60deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  33.3% {
    filter: hue-rotate(120deg);
  }
  41.6% {
    filter: hue-rotate(150deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  58.3% {
    filter: hue-rotate(210deg);
  }
  66.6% {
    filter: hue-rotate(240deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  83.3% {
    filter: hue-rotate(300deg);
  }
  91.6% {
    filter: hue-rotate(330deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.dust {
  position: absolute;
  margin-top: -102px;
  z-index: 1000;
  transition: 0.8s;
  width: 376px;
}

.dust_fade {
  opacity: 0;
}