@import "../../../../common/vars";
@import "../../../../common/mixins";

.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: 0.5s ease-out;
  align-items: center;
  @include for-tablet-portrait-up {
    height: auto;
  }

  &_animation-finished {
    height: 420px;
    @include for-tablet-portrait-up {
      height: auto;
    }
    #animation_container {
      display: none;
    }
    .main-screen__form {
      display: flex;
      @include for-tablet-portrait-up {
        display: none
      }
    }
  }

  &__title {
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 40px;
    max-width: 300px;
    @include for-tablet-portrait-up {
      max-width: none;
      margin-top: 0;
      text-transform: none !important;
      font-size: 42px !important;
      font-weight: bold !important;
      text-align: left;
      line-height: 50px !important;
    }
  }

  &__form {
    margin: 102px 16px 0;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    @include for-tablet-portrait-up {
      display: none
    }
  }

  &__links {
    margin: 40px 16px 0;
    text-align: center;
  }

  &__input {
    margin-top: 32px;
    @include for-tablet-portrait-up {
      margin-top: 16px;
      width: 100%;
      margin-right: 24px;
    }
  }

  &__button {
    margin-top: 24px;
    @include for-tablet-portrait-up {
      margin-top: 16px;
      width: 216px;
    }
  }

  &__link {
    margin-bottom: 16px;
  }

  &__pink-word {
    padding: 0 2px;
    background: #F8BBFF;
  }

  &__blue-word {
    padding: 0 2px;
    background: #B7EAFF;
  }

  &__form-desktop {
    display: none;
    @include for-tablet-portrait-up {
      display: flex;
      flex-direction: row;
      margin-top: 28vh;
      width: 936px;
    }
  }
  &__desktop-contact-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 376px;
  }

  &__background-img {
    width: 621px !important;
    position: relative;
    right: -74px;
    margin-top: -65px;
    margin-bottom: 200px;
  }

  &__girl-img {
    width: 80px !important;
    position: absolute;
    margin-top: 77px;
    margin-left: -362px;
  }

  &__girl-img_movement {
    animation: girl-movement 10s infinite;
    -webkit-animation: girl-movement 10s infinite;
    -moz-animation: girl-movement 10s infinite;
    -o-animation: girl-movement 10s infinite;
  }

  &__boy-img {
    width: 83px !important;
    position: absolute;
    margin-top: 69px;
    margin-left: -179px;
  }

  &__boy-img_movement {
    animation: boy-movement 12s infinite;
    -webkit-animation: boy-movement 12s infinite;
    -moz-animation: boy-movement 12s infinite;
    -o-animation: boy-movement 12s infinite;
    animation-delay: 1s;
  }
}

#animation_container {
  background-color: rgba(255, 255, 255, 1.00);
  width: 320px;
  height: 560px;
  @include for-tablet-portrait-up {
    display: none
  }
}

#canvas {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 1.00);
}

#dom_overlay_container {
  pointer-events: none;
  overflow: hidden;
  width: 320px;
  height: 560px;
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
}


@-webkit-keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    -webkit-transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-25px);
  }
  70% {
    -webkit-transform: translateY(-15px);
  }
}
@-moz-keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    -moz-transform: translateY(0);
  }
  30% {
    -moz-transform: translateY(-25px);
  }
  70% {
    -moz-transform: translateY(-15px);
  }
}
@-o-keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    -o-transform: translateY(0);
  }
  30% {
    -o-transform: translateY(-25px);
  }
  70% {
    -o-transform: translateY(-15px);
  }
}
@keyframes girl-movement {
  0%, 20%, 50%, 90%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-25px);
  }
  70% {
    transform: translateY(-15px);
  }
}

@-webkit-keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    -webkit-transform: translate(0);
  }
  30% {
    -webkit-transform: translate(20px, -13px);
  }
  70% {
    -webkit-transform: translate(-20px, 10px);
  }
}
@-moz-keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    -moz-transform: translate(0);
  }
  30% {
    -moz-transform: translate(20px, -13px);
  }
  70% {
    -moz-transform: translate(-20px, 10px);
  }
}
@-o-keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    -o-transform: translate(0);
  }
  30% {
    -o-transform: translate(20px, -13px);
  }
  70% {
    -o-transform: translate(-20px, 10px);
  }
}
@keyframes boy-movement {
  0%, 20%, 50%, 90%, 100% {
    transform: translate(0);
  }
  30% {
    transform: translate(20px, -13px);
  }
  70% {
    transform: translate(-20px, 10px);
  }
}
