@import "../../common/vars";
@import "../../common/mixins";

.button {
  font-family: $font-family;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 6px;
  border: none;

  &_default {
    border: 1px solid #2B7A9E;
    color: #2B7A9E;
    padding: 9px 44px;
    background-color: transparent;
    font-size: 15px;
    line-height: 21px;
    height: 43px;
  }

  &_big-pink {
    background-color: #F95AB9;
    color: #ffffff;
    min-width: 180px;
    padding: 12px 24px;
    line-height: 16px;
    font-size: 18px;
    @include for-tablet-portrait-up {
      padding: 19px 24px;
    }
  }

  &_big-pink-full {
    background-color: #FF78A0;
    color: #ffffff;
    min-width: 180px;
    padding: 14px 24px;
    line-height: 16px;
    font-size: 18px;
    font-weight: 600;
    @include for-tablet-portrait-up {
      padding: 19px 24px;
      background-color: #FF78A0;
    }
  }

}