@import "../../common/vars";
@import "../../common/mixins";

.button {
  font-family: $font-family;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 3px;
  border: none;

  @include for-tablet-portrait-up {
    font-family: $font-family-alternative;
  }

  &_default {
    border: 1px solid #F95AB9;
    color: #F95AB9;
    padding: 8px 16px;
    line-height: 14px;
    background-color: #ffffff;
    font-size: 14px;
    @include for-tablet-portrait-up {
      padding: 10px 16px;
      font-size: 16px;
      transition: 0.3s linear;
      border: 1px solid rgba(249, 90, 185, 0.8);
      &:hover {
        border: 1px solid #F95AB9;
      }
    }
  }

  &_big-pink {
    background-color: #F95AB9;
    color: #ffffff;
    min-width: 180px;
    padding: 12px 24px;
    line-height: 16px;
    font-size: 18px;
    @include for-tablet-portrait-up {
      padding: 19px 24px;
    }
  }

  &_big-blue {
    background-color: #10BBFF;
    color: #ffffff;
    min-width: 180px;
    padding: 12px 24px;
    line-height: 16px;
    font-size: 18px;
    @include for-tablet-portrait-up {
      padding: 19px 24px;
      background-color: rgba(16, 187, 255, 0.8);
      transition: 0.3s linear;
      &:hover {
        background-color: #10BBFF;
      }
    }
  }

}