@import "../../common/vars";
@import "../../common/mixins";

.section-title {
  font-family: $font-family-title;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  color: #333333;
  @include for-tablet-portrait-up {
    font-size: 40px;
    line-height: 50px;
  }
}